/* CSS for cycleTracker App */

body {
  margin: 1vh 1vw;
  background-color: #222;
  color: #fff;
  font-family: "Tahoma";
}
button {
  border: 0px solid #000;
  background-color: #222;
  color: #888;
  font-weight: bold;
  font-size: 20px;
}
input {
  border: 1px solid #bbb;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  margin-bottom: 4px;
  font-size: 20px;
}
.setDiv {
  width: 100%;
}
.setName {
  width: 98%;
  margin-top: 6px;
}
.timeLeft {
  width: 50px;
  float: right;
}
.allocatedTime {
  width: 50px;
  float: right;
  margin-left: 3px;
}
.forwardSlash {
  float: right;
  margin-right: 3px;
  margin-left: 3px;
}
.setSelect {
  display: none;
}
.justOkButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  display: block;
}
.dialog {
  display: none;
  position: fixed;
  background: #222;
  border: 2px solid #555;
  box-shadow: 3px 3px 3px #000;
  padding: 10px;
  width: 80%;
  height: 80%;
  margin-top: 30%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.toast {
  border-radius: 7px;
  padding: 10px;
  position: absolute;
  bottom: 30px;
  width: 60%;
  left: -100%;
  transform: translate(-50%, 0);
  transition: 0.5s;
}
.successToast {
  background: #080;
}
.failureToast {
  background: #B00;
}
.currentSetPlaying {
  background: #57a;
}
.currentSetPaused {
  background: #663;
}


#workoutTitle {
  display :none;
}
#workoutList {
  width: 100%;
  overflow-y: scroll;
}
#addSet {
  width: 100%;
  font-size: 24px;
  border-width: 0;
}
#workoutLoadPage {
  display: none;
  background: #f00;
  width: 100%;
}
#workoutPlayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #222;
  display: none;
}
#workoutPlayerText {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0%, -50%);
}
#backToEditor {
  position: absolute;
  top: 20px;
  left: 20px;
}